.page{
    display: flex;
  }
  .left{
    background-color: rgb(219, 219, 219);
  }
  .right{
    margin-top: 20%;
  }
  .flex-1{
    display: flex;
    justify-content: space-between;
  }
  /* #todoList{
    display: flex;
    justify-content: space-around;
  } */
  #listContainer{
    display: flex;
    justify-content: space-around;
  }
  .para{
    color: red;
  }
  input{
    border: none;
    outline: none;
    margin-left: 30px;
    font-size: 23px;
  }